<% @subtabs = @sliders.all_hosts unless @sliders.all_hosts.length == 1 %>

<h1>Sliders</h1>

<div id="sliders">
  <link href="<%= url_path("/sliders?css=sliders.css") %>" rel="stylesheet" type="text/css" />
  <link href="<%= url_path("/sliders?css=jqueryui-1.8.16/blitzer/jquery-ui.custom.css") %>" rel="stylesheet" type="text/css" />
  <script src="<%= url_path("/sliders?js=jquery-ui-1.8.16.custom.min.js") %>" type="text/javascript"></script>
  <script src="<%= url_path("/sliders?js=sliders.js") %>" type="text/javascript"></script>
<% if params[:host] || @sliders.all_hosts.length == 1 %>
  <% host = params[:host] || @sliders.all_hosts.first %>
  <% max = @sliders.max_children(host) || 'Not running' %>

  <h2><%= "#{host} (Total: <span id=\"total\"></span> Max: <span id=\"max\">#{max}</span>)" %>
    <span class="controls">
    <%= daemon_buttons(host, false) %>
    </span>
  </h2>
  <% @sliders.queue_values(host).each_pair do |queue,value| %>
    <p>
      <label for="value"><%= queue %>: </label>
      <input type="text" id="<%= queue.gsub(',', ':') %>-value" class="values worker-counter"/>
      <span id="<%= host %>-<%= queue.gsub(',', ':') %>-delete_worker" class="ui-icon ui-icon-closethick ui-corner-all ui-state-default worker-action-button deleter"/>
    </p>
    <div id="<%= queue.gsub(',', ':') %>-slider" class="slider"><%= value %></div>
  <% end %>
    <form id="<%= host %>" class="new_form">
      <input type="text" id="new_queue" />
      <span id="plus-one" type="submit" class="ui-icon ui-icon-plus ui-corner-all ui-state-default worker-action-button" />
    </form>
<% else %>
  <table class="hosts">
    <tr>
      <th>Hostname</th>
      <th>Current / Max Workers</th>
      <th>Controls</th>
    </tr>
    <% @sliders.all_hosts.each do |host| %>
    <tr>
      <td><a href="<%= url_path("/sliders/#{host}") %>"><%= host %></a></td>
      <td><% if @sliders.stale_hosts.include?(host) %>
      Not Checked in (Stale)
      <% else %>
      <%= [@sliders.current_children(host), @sliders.max_children(host)].compact.join(' / ') %>
      <% end %>
      </td>
      <td>
        <ul>
          <span class="controls">
          <%= daemon_buttons(host) %>
          </span>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
</div>
